.bigote
{
    width: 180px;/*ancho*/
    height: 180px;/*largo*/
    left: 180px;/**/
    border-radius: 50%;
    position: absolute;
    color: black;
    box-shadow: 150px 230px 0 0 currentColor, 300px 230px 0 0 currentColor;
    z-index: 1;
}

.bigote::before
{
    content: "";
    position: absolute;
    left: 30px;
    top: 110px;
    width: 210px;
    height: 120px;
    border-bottom: solid
     180px currentColor;
    border-radius: 0 0 0 100%;
    transform: rotate(-40deg);
    transform-origin: right 210px;
}

.bigote::after
{
    content: "";
    position: absolute;
    left: 390px;
    top: 110px;
    width: 210px;
    height: 120px;
    border-bottom: solid 180px currentColor;
    border-radius: 0 0 100% 0;
    transform: rotate(40deg);
    transform-origin: left 210px;
}
.eyes {
    color: #000;
    position: absolute;
    margin-left: 300px;
    margin-top: 60px;
    width: 12px;
    height: 12px;
    border-radius: 100% 15%;
    border: solid 50px currentColor;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  
  
  .eyes:after {
      content: '';
      position: absolute;
      left: 100px;
      top: -35px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: solid 10px burlywood;
      background-color: rgb(255, 255, 255);
      color: #000;
    position: absolute;
    margin-left: -7px;
    margin-top: -160px;
    width: 12px;
    height: 12px;
    border-radius: 100% 15%;
    border: solid 50px currentColor;
            transform: rotate(0deg);
    }


.cejas
{
        width: 30px;/*ancho*/
        height: 30px;/*largo*/
        left: 180px;/**/
        border-radius: 50%;
        position: relative;
        color: black;
        box-shadow: 180px 25px 0 0 currentColor, 350px 25px 0 0 currentColor;
        animation-name: movimientoC;
        animation-duration: 0.5s;
        animation-iteration-count: infinite;
        z-index: 2;
}
    
.cejas::before
{
        content: "";
        position: absolute;
        left: 304px;
        top: -5px;
        width: 60px;
        height: 20px;
        border-bottom: solid 30px currentColor;
        border-radius: 0 0 0 100%;
        transform: rotate(-200deg);
        transform-origin: right 40px;
    
}
    
.cejas::after
{
        content: "";
        position: absolute;
        left: 80px;
        top: -25px;
        width: 60px;
        height: 20px;
        border-bottom: solid 30px currentColor;
        border-radius: 0 0 100% 0;
        transform: rotate(200deg);
        transform-origin: right 40px;
}
    
@keyframes movimientoC
{
        0%{left: 180px; top: 0px;}
        50%{left: 180px;top: -25px;}
        100%{left: 180px; top: 0px;}
    
}