.bigote
{
    width: 180px;/*ancho*/
    height: 180px;/*largo*/
    left: 180px;/**/
    border-radius: 50%;
    position: absolute;
    color: black;
    box-shadow: 150px 230px 0 0 currentColor, 300px 230px 0 0 currentColor;
    z-index: 1;
}

.bigote::before
{
    content: "";
    position: absolute;
    left: 30px;
    top: 110px;
    width: 210px;
    height: 120px;
    border-bottom: solid
     180px currentColor;
    border-radius: 0 0 0 100%;
    transform: rotate(-40deg);
    transform-origin: right 210px;
}

.bigote::after
{
    content: "";
    position: absolute;
    left: 390px;
    top: 110px;
    width: 210px;
    height: 120px;
    border-bottom: solid 180px currentColor;
    border-radius: 0 0 100% 0;
    transform: rotate(40deg);
    transform-origin: left 210px;
}